[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pylint = "*"

[dev-packages]
black-nb = "*"
debugpy = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
