[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"

[dev-packages]
pre-commit = "*"
black-nb = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
